body{
    background-color: #dadada;
    font-family: "Lora", "Helvetica", "Arial";
}
header{
    display: grid;
    grid-template-columns: 150px 300px 300px;
    background-color: #19535F;
    font-family: "Kanit", "Helvetica", "Arial";
}
nav{
    display: flex;
    justify-content: space-around;
}
nav a{
    text-align: left;
    color: #F5EDF0;
    text-decoration: none;
    padding: 10px 35px;
    font-size: 16px;
}
.logo{
    width: 80px;
}
.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
.home-grid h1{
    grid-column: 1/5;
    grid-row: 1;
    text-align: center;
}
.home-grid h4{
    padding-top:100px;
    grid-column: 1/5;
    grid-row: 1;
    text-align: center;
}
.home-grid p{
    padding-top:200px;
    grid-column: 1/5;
    grid-row: 1;
    text-align: center;
}
.home-page{
    img:nth-of-type(1) {grid-column:5/6;}
    img:nth-of-type(2) {grid-column:6/7;}
}
footer{
    background-color: #19535F;
    color: #F5EDF0;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer p{
    font-size: 1.2em;
}
footer a{
    color: #F5EDF0;
    text-decoration: none;
}
.datascience-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 50px 1fr 1fr;
    grid-template-rows: 600px 800px;
}
.datascience-grid h1{
    grid-column: 1/4;
    grid-row: 1;
    text-align: center;
}
.datascience-grid h4{
    padding-top:100px;
    grid-column: 1/4;
    grid-row: 1;
    text-align: center;
}
.datascience-grid p{
    padding-top:200px;
    grid-column: 1/4;
    grid-row: 1;
    text-align: center;
}
.datascience1{
    padding-top:550px;
    grid-column: 2/4;
    grid-row: 1;
}
.datascience2{
    grid-column: 5/7;
    grid-row: 1;
}

.programming-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr;
}
.progamming-grid h1{
    grid-column: 1/7;
    grid-row:1;
    text-align: center;
}
.programming-grid h4{
    padding-top:275px;
    grid-column: 1/4;
    grid-row: 1;
    text-align: center;
}
.programming-grid p{
    padding-top:350px;
    grid-column: 1/4;
    grid-row: 1;
    text-align: center;
}
.programming1{
    padding-top:50px;
    padding-left:30px;
    grid-column: 4/6;
    grid-row: 2;
}
.programming2{
    padding-top:350px;
    padding-left:30px;
    grid-column: 4/6;
    grid-row: 2;
}

 /* Dropdown Button */
 .dropbtn {
    background-color:#19535F;
    color: #F5EDF0;
    padding: 10px 35px;
    font-size: 16px;
    border: none;
    font-family: "Kanit", "Helvetica", "Arial";
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #F5EDF0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: "Kanit", "Helvetica", "Arial";
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #F5EDF0;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {color: #19535F; background-color: #F5EDF0;} 